@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

/* font */
@theme {
  --font-sans: "Inter", sans-serif;
  --font-lato: "Lato", sans-serif;

  --color-primary: #f5f7fa;
  --color-secondary: #ffffff;

  --color-primary: #343c6a;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  /* custom css react-date-picker */
  .rdp-root {
    @apply w-full;
  }

  .rdp-nav {
    @apply w-full flex justify-between items-center mt-3;
  }

  .rdp-month {
    @apply w-full;
  }

  .rdp-month_caption {
    @apply w-full text-center font-semibold text-lg mb-3;
  }

  .rdp-month > table {
    @apply w-full;
  }

  .rdp-month > table > thead > tr > th {
    @apply font-semibold text-sm text-center w-10 h-10;
  }

  .rdp-month > table > tbody > tr > td {
    @apply text-sm text-center w-10 h-10;
  }

  [data-selected="true"] {
    @apply bg-[#2D60FF] text-white rounded-full;
  }
}
